.main {
    background-color: rgba(218, 142, 43, 0.642);
    height: 90.7vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}


